#appBody {
  background-color: #e7eaf6;
  border: solid #a2a9d3 2px;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
  padding: 30px;
  width: 650px;
  text-align: center;
}
#currentInfo {
  background-color: #a2a9d3;
  border: solid #e7eaf6 1px;
  border-radius: 30px;
  display: block;
  padding: 30px;
  width: 200px;
  text-align: center;
}
#currentTempDisplay {
  display: block;
  font-size: 60px;
  padding: 30px;
  text-align: center;
}

.highTemp {
  font-weight: bold;
}
.lowTemp {
  font-weight: thin;
  color: gray;
  font-size: smaller;
}
