#appBody {
  background-color: #faf5e4;
  border: solid #225884 2px;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
  padding: 30px;
  width: 650px;
  text-align: center;
}
#currentInfo {
  background-color: #225884;
  border: solid #faf5e4 1px;
  display: block;
  margin: 0 auto;
  padding: 30px;
  text-align: left;
}
