body {
  background-color: #e7eaf6;
}

#appBody {
  background-color: white;
  border: solid #a2a9d3 2px;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
  padding: 30px;
  width: 650px;
  text-align: center;
}
#citySearchEngine {
  color: #a2a9d3;
  border: solid #a2a9d3 2px;
  border-radius: 20px;
}
#citySearchButton {
  background-color: #a2a9d3;
  color: white;
  border-radius: 20px;
  border: solid #a2a9d3 1px;
}
#currentInfo {
  background-color: #e7eaf6;
  border: solid #e7eaf6 1px;
  border-radius: 30px;
  display: block;
  padding: 30px 20px;
  width: 200px;
  text-align: center;
  margin: 20px;
}
#currentTempDisplay {
  display: block;
  font-size: 60px;
  padding: 30px;
  text-align: center;
}

.highTemp {
  font-weight: bold;
  color: #113f67;
}
.lowTemp {
  color: #37598b;
  font-size: smaller;
}
.day {
  color: #e7eaf6;
  font-size: 20px;
}
